@charset "UTF-8";
/* Mixins */ /*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* Backgrounds color */
/* Producsts color */
/* Fonts color */
/* Buttons color */
/* Icons fill */
/* Shadows */
/* Fonts */
/* Global */
body {
  font-family: "DM Sans", sans-serif;
  color: #000;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.product {
  padding: 121px 20px 98px 20px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}
.product__title {
  text-align: center;
  font-family: "Titan One", cursive;
  font-size: 18;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 26;
  }
}
@media screen and (min-width: 1280px) {
  .product__title {
    font-size: 30;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.product__name {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .product__name {
    font-size: 48;
    margin-bottom: 144px;
  }
}
@media screen and (min-width: 1280px) {
  .product__name {
    font-size: 58;
    line-height: 1.13;
    letter-spacing: 0.06;
    margin-bottom: 250px;
  }
}
.product__grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 130px;
}
@media screen and (min-width: 768px) {
  .product__grid {
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid {
    gap: 29px;
  }
}
.product > ul {
  padding: 0;
}
.product__grid-item {
  max-width: 280px;
  width: 100vw;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .product__grid-item {
    max-width: 220px;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-item {
    max-width: 329px;
  }
}
.product__grid-first {
  background-color: #ffb8ca;
  position: relative;
}
.product__grid-first::before {
  content: "";
  background-image: url("/src/images/mobileProductsPic1.png");
  width: 249px;
  height: 252px;
  position: absolute;
  bottom: 335px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .product__grid-first::before {
    background-image: url("/src/images/tabletProductsPic1.png");
    bottom: 373px;
    width: 220px;
    height: 226px;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-first::before {
    background-image: url("/src/images/desktopProductsPic1.png");
    width: 335px;
    height: 335px;
    bottom: 400px;
  }
}
.product__grid-first::after {
  content: "";
  width: 26px;
  height: 6px;
  background-image: url("/src/images/productsThreeDots.png");
  position: absolute;
  background-size: cover;
  background-position: center;
  bottom: 50%;
}
@media screen and (min-width: 768px) {
  .product__grid-first::after {
    bottom: 58%;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-first::after {
    bottom: 53%;
  }
}
.product__grid-second {
  background-color: #f0d1a5;
  position: relative;
}
.product__grid-second::before {
  content: "";
  background-image: url("/src/images/mobileProductsPic2.png");
  width: 249px;
  height: 252px;
  position: absolute;
  bottom: 340px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .product__grid-second::before {
    background-image: url("/src/images/tabletProductsPic2.png");
    bottom: 373px;
    width: 220px;
    height: 226px;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-second::before {
    background-image: url("/src/images/desktopProductsPic2.png");
    bottom: 400px;
    width: 335px;
    height: 335px;
  }
}
.product__grid-second::after {
  content: "";
  width: 26px;
  height: 6px;
  background-image: url("/src/images/productsThreeDots.png");
  position: absolute;
  background-size: cover;
  background-position: center;
  bottom: 50%;
}
@media screen and (min-width: 768px) {
  .product__grid-second::after {
    bottom: 58%;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-second::after {
    bottom: 53%;
  }
}
.product__grid-third {
  background-color: #c2e297;
  position: relative;
}
.product__grid-third::before {
  content: "";
  background-image: url("/src/images/mobileProductsPic3.png");
  width: 249px;
  height: 252px;
  position: absolute;
  bottom: 340px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .product__grid-third::before {
    background-image: url("/src/images/tabletProductsPic3.png");
    bottom: 373px;
    width: 220px;
    height: 226px;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-third::before {
    background-image: url("/src/images/desktopProductsPic3.png");
    bottom: 400px;
    width: 335px;
    height: 335px;
  }
}
.product__grid-third::after {
  content: "";
  width: 26px;
  height: 6px;
  background-image: url("/src/images/productsThreeDots.png");
  position: absolute;
  background-size: cover;
  background-position: center;
  bottom: 50%;
}
@media screen and (min-width: 768px) {
  .product__grid-third::after {
    bottom: 58%;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-third::after {
    bottom: 53%;
  }
}
.product__grid-title {
  font-family: "Titan One", cursive;
  font-size: 20;
  line-height: 1.15;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 30px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .product__grid-title {
    padding-top: 130px;
  }
}
@media screen and (min-width: 1280px) {
  .product__grid-title {
    font-size: 30;
    line-height: 1.13;
  }
}
.product__grid-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14;
  line-height: 1.52;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (min-width: 1280px) {
  .product__grid-description {
    font-size: 16;
    line-height: 1.76;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.arrow-btn {
  border-radius: 50%;
  border-style: none;
  background: none;
  padding-bottom: 41px;
}
.arrow-btn img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.arrow-btn:hover,
.arrow-btn:focus {
  cursor: pointer;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__grid-first::before {
    background-image: url("/src/images/mobileProductsPic1@2x.png");
  }
  .product__grid-second::before {
    background-image: url("/src/images/mobileProductsPic2@2x.png");
  }
  .product__grid-third::before {
    background-image: url("/src/images/mobileProductsPic3@2x.png");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__grid-first::before {
    background-image: url("/src/images/tabletProductsPic1@2x.png");
  }
  .product__grid-second::before {
    background-image: url("/src/images/tabletProductsPic2@2x.png");
  }
  .product__grid-third::before {
    background-image: url("/src/images/tabletProductsPic3@2x.png");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__grid-first::before {
    background-image: url("/src/images/desktopProductsPic1@2x.png");
  }
  .product__grid-second::before {
    background-image: url("/src/images/desktopProductsPic2@2x.png");
  }
  .product__grid-third::before {
    background-image: url("/src/images/desktopProductsPic3@2x.png");
  }
}
.about {
  background-color: #fff5f6;
}
.about__label {
  font-family: "Titan One", cursive;
  color: #ffa5ba;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 125px 0 0 0;
}
@media screen and (min-width: 768px) {
  .about__label {
    font-size: 26px;
    line-height: 1.1538461538;
    padding-top: 130px;
  }
}
@media screen and (min-width: 1280px) {
  .about__label {
    font-size: 30px;
    line-height: 1.1333333333;
    letter-spacing: 0.04em;
    padding-top: 125px;
  }
}
.about__header {
  font-family: "Titan One", cursive;
  color: #d41443;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1470588235;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 61px 26px 59px;
}
@media screen and (min-width: 768px) {
  .about__header {
    font-size: 48px;
    line-height: 1.1458333333;
    padding-top: 16px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    font-size: 58px;
    line-height: 1.1379310345;
    letter-spacing: 0.06em;
    padding-top: 15px;
    padding-bottom: 102px;
  }
}
.about__main_container {
  display: block;
  background-image: url("../images/mobileAboutBG.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  width: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__main_container {
    background-image: url("../images/mobileAboutBG@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .about__main_container {
    background-image: none;
    display: flex;
    align-items: end;
  }
}
@media screen and (min-width: 1280px) {
  .about__main_container {
    align-items: center;
    background-image: url("../images/desktopAboutBG.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about__main_container {
    background-image: url("../images/desktopAboutBG@2x.png");
  }
}
.about__image {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__image {
    padding-left: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    padding-left: 112px;
  }
}
.about__description_container {
  padding: 46px 50px 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
}
@media screen and (min-width: 768px) {
  .about__description_container {
    padding: 0 36px 0px 17px;
    font-size: 14px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1280px) {
  .about__description_container {
    padding: 0 117px 0px 74px;
  }
}
@media screen and (min-width: 1280px) {
  .about__description__1 {
    font-size: 16px;
  }
}
.about__description__2 {
  padding: 31px 0 0 0;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .about__description__2 {
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .about__description__2 {
    padding: 35px 0 0 0;
    line-height: 194%;
  }
}
.about__button {
  position: relative;
  margin: 21px 0 0 50px;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin: 62px 0 0 396px;
  }
}
@media screen and (min-width: 1280px) {
  .about__button {
    position: absolute;
    margin: -60px 0 0 702px;
  }
}

.advantages {
  width: 100%;
  background: #fff5f6;
  padding: 0 20px;
  margin-top: 39px;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 38px;
}
.advantages__image {
  margin-bottom: 16px;
}
.advantages__value {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #d41443;
}
.advantages_txt {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 0 36px;
  }
  .advantages__list {
    flex-direction: row;
  }
  .advantages__image {
    margin-bottom: 36px;
  }
  .advantages__value {
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding: 0 115px;
  }
  .advantages__image {
    margin-bottom: 40px;
  }
  .advantages__value {
    margin-bottom: 15px;
  }
}
.reviews-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews-section__image {
  width: 85px;
  height: 85px;
  margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
  .reviews-section__image {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__image {
    margin-bottom: 15px;
  }
}
.reviews-section__slider {
  width: calc(100% - 40px);
  background: #fafafa;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .reviews-section__slider {
    width: calc(100% - 148px);
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__slider {
    width: calc(100% - 352px);
  }
}
.reviews-section__review {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  padding: 0 66px 15px 57px;
  margin: auto;
  position: relative;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .reviews-section__review {
    font-size: 14px;
    line-height: 216%;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__review {
    font-size: 16px;
    line-height: 186%;
  }
}
.reviews-section .reviews-section__review::after {
  content: "";
  position: absolute;
  top: 64px;
  bottom: 5px;
  left: 50px;
  width: calc(100% - 100px);
  background: repeating-linear-gradient(transparent 0px, #e1e1e1 1px, transparent 2px, transparent 30.5px);
}

.reviews-section .reviews-section__review::before {
  content: "";
  height: 40px;
  width: 54px;
  position: relative;
  display: block;
  z-index: -1;
  top: 24px;
  left: 3px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='54' height='40' viewBox='0 0 54 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.0179 2.59234e-06C42.4286 2.80309e-06 44.7054 0.650412 46.8482 1.95122C48.9911 3.25204 50.7321 5.12195 52.0714 7.56098C53.3571 10 54 12.8726 54 16.1789C54 19.4851 53.1964 22.71 51.5893 25.8537C51.0536 26.9919 50.0893 28.4553 48.6964 30.2439C47.25 32.0325 45.9107 33.5772 44.6786 34.878L39.6161 40L36 33.9837C38.5179 32.4119 40.7411 30.4607 42.6696 28.1301C44.5982 25.8537 45.5625 23.7669 45.5625 21.8699C45.5625 20.8943 45.3482 20.1084 44.9196 19.5122C43.0446 20.8672 40.9554 21.5447 38.6518 21.5447C36.9911 21.5447 35.4107 21.0298 33.9107 20C32.3571 19.0244 31.125 17.7236 30.2143 16.0976C29.25 14.5257 28.7679 12.8997 28.7679 11.2195C28.7679 9.3225 29.3304 7.50678 30.4554 5.77236C31.5268 4.03794 32.9464 2.62873 34.7143 1.54472C36.4286 0.514908 38.1964 2.43311e-06 40.0179 2.59234e-06ZM11.1696 7.03482e-08C13.5804 2.811e-07 15.8571 0.650409 18 1.95122C20.1429 3.25204 21.8839 5.12195 23.2232 7.56098C24.5089 10 25.1518 12.8726 25.1518 16.1789C25.1518 18.5095 24.8571 20.5962 24.2679 22.439C23.6786 24.336 22.6607 26.3144 21.2143 28.374C19.8214 30.3252 18.5089 31.9512 17.2768 33.252C16.0446 34.607 13.9018 36.8564 10.8482 40L7.23214 33.9837C9.75 32.4119 11.9732 30.4607 13.9018 28.1301C15.8304 25.8537 16.7946 23.7669 16.7946 21.8699C16.7946 20.8943 16.5804 20.1084 16.1518 19.5122C14.2768 20.8672 12.1875 21.5447 9.88393 21.5447C8.22321 21.5447 6.64285 21.0298 5.14285 20C3.58928 19.0244 2.35714 17.7236 1.44643 16.0976C0.482143 14.5257 -1.44552e-06 12.8997 -1.29863e-06 11.2195C-1.13278e-06 9.32249 0.535714 7.50677 1.60714 5.77236C2.67857 4.03794 4.09822 2.62873 5.86607 1.54472C7.58036 0.514905 9.34821 -8.88861e-08 11.1696 7.03482e-08Z' fill='%23E1E1E1'/%3E%3C/svg%3E");
}

.reviews-section__description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  margin: 30px 0 0 0;
}

@media screen and (min-width: 768px) {
  .reviews-section__description {
    font-size: 16px;
    margin: 24px 0 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__description {
    font-size: 20px;
    margin: 15px 0 0 0;
  }
}
.reviews-section__description::before {
  content: "";
  width: 32px;
  height: 4px;
  position: relative;
  display: block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 top, 14px top, 28px top;
  padding-bottom: 18px;
  margin: auto;
}

.reviews-section__buttons {
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .reviews-section__buttons {
    margin-top: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__buttons {
    margin-top: 35px;
  }
}
.reviews-section__buttons .reviews-section__homeBtn {
  padding: 0;
  border: none;
  background: none;
  fill: #d31342;
  font-style: none;
}

.reviews-section__buttons .reviews-section__homeBtn:hover {
  cursor: pointer;
}

.reviews-section__buttons .reviews-section__circleBtn {
  padding: 0;
  border: none;
  background: none;
  font-style: none;
}

.reviews-section__buttons .reviews-section__circleBtn:hover {
  cursor: pointer;
}

.reviews-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews-section__image {
  width: 85px;
  height: 85px;
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .reviews-section__image {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__image {
    margin-bottom: 15px;
  }
}
.reviews-section__slider {
  width: calc(100% - 40px);
  background: #fafafa;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .reviews-section__slider {
    width: calc(100% - 148px);
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__slider {
    width: calc(100% - 352px);
  }
}
.reviews-section__review {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  padding: 0 66px 15px 57px;
  margin: auto;
  position: relative;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .reviews-section__review {
    font-size: 14px;
    line-height: 216%;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__review {
    font-size: 16px;
    line-height: 186%;
  }
}
.reviews-section .reviews-section__review::after {
  content: "";
  position: absolute;
  top: 64px;
  bottom: 5px;
  left: 50px;
  width: calc(100% - 100px);
  background: repeating-linear-gradient(transparent 0px, #e1e1e1 1px, transparent 2px, transparent 30.5px);
}
.reviews-section .reviews-section__review::before {
  content: "";
  height: 40px;
  width: 54px;
  position: relative;
  display: block;
  z-index: -1;
  top: 24px;
  left: 3px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='54' height='40' viewBox='0 0 54 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.0179 2.59234e-06C42.4286 2.80309e-06 44.7054 0.650412 46.8482 1.95122C48.9911 3.25204 50.7321 5.12195 52.0714 7.56098C53.3571 10 54 12.8726 54 16.1789C54 19.4851 53.1964 22.71 51.5893 25.8537C51.0536 26.9919 50.0893 28.4553 48.6964 30.2439C47.25 32.0325 45.9107 33.5772 44.6786 34.878L39.6161 40L36 33.9837C38.5179 32.4119 40.7411 30.4607 42.6696 28.1301C44.5982 25.8537 45.5625 23.7669 45.5625 21.8699C45.5625 20.8943 45.3482 20.1084 44.9196 19.5122C43.0446 20.8672 40.9554 21.5447 38.6518 21.5447C36.9911 21.5447 35.4107 21.0298 33.9107 20C32.3571 19.0244 31.125 17.7236 30.2143 16.0976C29.25 14.5257 28.7679 12.8997 28.7679 11.2195C28.7679 9.3225 29.3304 7.50678 30.4554 5.77236C31.5268 4.03794 32.9464 2.62873 34.7143 1.54472C36.4286 0.514908 38.1964 2.43311e-06 40.0179 2.59234e-06ZM11.1696 7.03482e-08C13.5804 2.811e-07 15.8571 0.650409 18 1.95122C20.1429 3.25204 21.8839 5.12195 23.2232 7.56098C24.5089 10 25.1518 12.8726 25.1518 16.1789C25.1518 18.5095 24.8571 20.5962 24.2679 22.439C23.6786 24.336 22.6607 26.3144 21.2143 28.374C19.8214 30.3252 18.5089 31.9512 17.2768 33.252C16.0446 34.607 13.9018 36.8564 10.8482 40L7.23214 33.9837C9.75 32.4119 11.9732 30.4607 13.9018 28.1301C15.8304 25.8537 16.7946 23.7669 16.7946 21.8699C16.7946 20.8943 16.5804 20.1084 16.1518 19.5122C14.2768 20.8672 12.1875 21.5447 9.88393 21.5447C8.22321 21.5447 6.64285 21.0298 5.14285 20C3.58928 19.0244 2.35714 17.7236 1.44643 16.0976C0.482143 14.5257 -1.44552e-06 12.8997 -1.29863e-06 11.2195C-1.13278e-06 9.32249 0.535714 7.50677 1.60714 5.77236C2.67857 4.03794 4.09822 2.62873 5.86607 1.54472C7.58036 0.514905 9.34821 -8.88861e-08 11.1696 7.03482e-08Z' fill='%23E1E1E1'/%3E%3C/svg%3E");
}

.reviews-section__description {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin: 30px 0 0 0;
}
@media screen and (min-width: 768px) {
  .reviews-section__description {
    font-size: 16px;
    margin: 24px 0 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__description {
    font-size: 20px;
    margin: 15px 0 0 0;
  }
}
.reviews-section__description::before {
  content: "";
  width: 32px;
  height: 4px;
  position: relative;
  display: block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 top, 14px top, 28px top;
  padding-bottom: 18px;
  margin: auto;
}

.reviews-section__buttons {
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .reviews-section__buttons {
    margin-top: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-section__buttons {
    margin-top: 35px;
  }
}
.reviews-section__buttons .reviews-section__homeBtn {
  padding: 0;
  border: none;
  background: none;
  fill: #d31342;
  font-style: none;
}
.reviews-section__buttons .reviews-section__homeBtn:hover {
  cursor: pointer;
}
.reviews-section__buttons .reviews-section__circleBtn {
  padding: 0;
  border: none;
  background: none;
  font-style: none;
}
.reviews-section__buttons .reviews-section__circleBtn:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */