/* Backgrounds color */
$headerBackdround: #ffb8ca;
$mainBackdround: #e5e5e5;
$footerBackground: #fff5f6;
$burgerBackground: #e17992;
/* Producsts color */
$iceCream: #ffb8ca;
$iceCoffe: #f0d1a5;
$milkshake: #c2e297;
/* Fonts color */
$mainFontColor: #fff;
$secondaryFontColor: #907e82;
$headerFontColor: #d41443;
$headerSecondFontColor: #ffa5ba;
/* Buttons color */
$mainBtnColor: #d41342;
$secondaryBtnColor: #fff;
$hoverBtnColor: #ecebeb;
/* Icons fill */
$dots: #c7133e;
$house: #d31342;
$links: #fea5bb;
$closeIcon: #fff;
$hoverFocusLinks: #d41443;
/* Shadows */
$boxShadow: rgba(212, 20, 67, 0.1);

/* Fonts */
$mainFont: 'DM Sans', sans-serif;
$dekorationFont: 'Titan One', cursive;

/* Global */
body {
  font-family: $mainFont;
  color: #000;
  padding-inline-start: 0px;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
