<section class="about" id="tradition_and_love">
  <p class="about__label">tradition and love</p>
  <h2 class="about__header">how it's made?</h2>
  <div class="about__main_container">
    <div class="about__image">
      <picture>
        <source
          media="screen and (max-width: 767px)"
          srcset="./images/mobileAboutPic1.png, ./images/mobileAboutPic1@2x.png 2x"
        />
        <source
          media="screen and (max-width: 1279px)"
          srcset="./images/tabletAboutPic1.png, ./images/tabletAboutPic1@2x.png 2x"
        />
        <source srcset="./images/desktopAboutPic1.png, ./images/desktopAboutPic1@2x.png 2x" />
        <img src="./images/mobileAboutPic1.png" alt="zdjęcie krowy" />
      </picture>
    </div>
    <div class="about__description_container">
      <p class="about__description__1">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__description__2">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. <br />
        <br />
        Aliquam erat volutpat. Aenean accumsan.
      </p>
    </div>
  </div>
  <button class="about__button" type="button">Read more</button>
</section>
