<section class="advantages">
  <h2 style="display: none">Advantages</h2>
  <ul class="adventages__list">
    <li class="adventages__item">
      <img class="adventages__image" src="../images/adventages_icon1.png" />
      <div class="adventages__value">721</div>
      <div class="advantages_txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
    </li>
    <li class="adventages__item">
      <img class="adventages__image" src="../images/adventages_icon2.png" />
      <div class="adventages__value">16kg</div>
      <div class="advantages_txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
    </li>
    <li class="adventages__item">
      <img class="adventages__image" src="../images/adventages_icon3.png" />
      <div class="adventages__value">84</div>
      <div class="advantages_txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
    </li>
  </ul>
</section>
