<section class="advantages">
  <h2 style="display: none">Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <img class="advantages__image" src="./images/advantagesIcon1.png" width="33" height="50" />
      <div class="advantages__value">721</div>
      <div class="advantages_txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
    </li>
    <li class="advantages__item">
      <img class="advantages__image" src="./images/advantagesIcon2.png" width="50" height="50" />
      <div class="advantages__value">16kg</div>
      <div class="advantages_txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
    </li>
    <li class="advantages__item">
      <img class="advantages__image" src="./images/advantagesIcon3.png" width="44" height="50" />
      <div class="advantages__value">84</div>
      <div class="advantages_txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
    </li>
  </ul>
</section>
