<section class="contacts" id="contacts">
  <div class="main-container">
    <h2 style="display: none">contacts</h2>
    <div class="contacts__list">
      <ul class="contacts__container">
        <li><p class="contacts__cafe">CAFE</p></li>
        <li class="contacts__text">
          <p class="contacts__places">Chicago</p>
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li><div class="contacts__line"></div></li>
        <li>
          <p class="contacts__day">Monday-Friday</p>
          <time class="contacts__clock" datetime="06:00">06:00 AM</time>-<time
            class="contacts__clock"
            datetime="10:00"
            >10:00 PM</time
          >
          <p class="contacts__day contacts__day--padding">Saturday-Sunday</p>
          <time class="contacts__clock" datetime="08:00">08:00 AM</time>-<time
            class="contacts__clock"
            datetime="16:00"
            >16:00 PM</time
          >
        </li>
        <li><div class="contacts__line"></div></li>
        <li>
          <ul class="contacts__contact">
            <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
      </ul>
      <ul class="contacts__container contacts__container-foodtruck">
        <li><p class="contacts__foodtrack">FOODTRUCK</p></li>
        <li class="contacts__text">
          <p class="contacts__places">Los Angeles</p>
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li><div class="contacts__line"></div></li>
        <li>
          <p class="contacts__day">Monday-Friday</p>
          <time class="contacts__clock" datetime="06:00">06:00 AM</time>-<time
            class="contacts__clock"
            datetime="10:00"
            >10:00 PM</time
          >
          <p class="contacts__day contacts__day--padding">Saturday-Sunday</p>
          <time class="contacts__clock" datetime="08:00">08:00 AM</time>-<time
            class="contacts__clock"
            datetime="16:00"
            >16:00 PM</time
          >
        </li>
        <li><div class="contacts__line"></div></li>
        <li>
          <ul class="contacts__contact">
            <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
      </ul>
      <ul class="contacts__container">
        <li><p class="contacts__cafe">CAFE</p></li>
        <li class="contacts__text">
          <p class="contacts__places">New York</p>
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li><div class="contacts__line"></div></li>
        <li>
          <p class="contacts__day">Monday-Friday</p>
          <time class="contacts__clock" datetime="06:00">06:00 AM</time>-<time
            class="contacts__clock"
            datetime="10:00"
            >10:00 PM</time
          >
          <p class="contacts__day contacts__day--padding">Saturday-Sunday</p>
          <time class="contacts__clock" datetime="08:00">08:00 AM</time>-<time
            class="contacts__clock"
            datetime="16:00"
            >16:00 PM</time
          >
        </li>
        <li><div class="contacts__line"></div></li>
        <li>
          <ul class="contacts__contact">
            <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="contacts__button">
      <button class="contacts__titlered">Our Locations ></button>
      <button class="contacts__titlewhite">Franchise ></button>
    </div>
  </div>
</section>
