<footer class="section footer">
    <div class="container">
    <div class="footer__title">
        <p class="footer__title-what">HOMEMADE ICE CREAM MADE</p>
        <p class="footer__title-how">WITH PASSION</p>
    </div>
    <div class="footer__contacts">
    <ul class="footer__contacts-media">
        <li class="footer__contacts-item" tabindex="0">
            <svg class="footer__contacts-icon" width="20" height="20">
              <use href="./images/symbol-defs (2).svg#icon-github1"></use>
            </svg>
          </li>
          <li class="footer__contacts-item" tabindex="0">
          <svg class="footer__contacts-icon" width="20" height="20">
              <use href="./images/symbol-defs (2).svg#icon-telegram1"></use>
            </svg>
          </li>
          <li class="footer__contacts-item" tabindex="0">
          <svg class="footer__contacts-icon" width="20" height="20">
              <use href="./images/symbol-defs (2).svg#icon-facebook1"></use>
            </svg>
          </li>
    </ul>
    <div class="footer__contacts-phone">
    <span>Feel free to contact </span><a class="footer__contact-item" href="tel:00610383766284">+61 (0) 383 766 284</a>
    </div>
    </div>
    <div class="footer__rights">© 2019 - IceCream.All Rights Reserved.</div>
    </div>
    </footer>