<footer class="footer" id="the-end">
  <div class="container">
    <div class="footer__title">
      <p class="footer__title-what">HOMEMADE ICE CREAM MADE</p>
      <p class="footer__title-how">WITH PASSION</p>
    </div>
    <div class="footer__contacts">
      <ul class="footer__contacts-media">
        <li class="footer__contacts-item" tabindex="0">
          <a href="https://github.com/" target="_blank" title="GitHub">
            <svg class="footer__contacts-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-githubIcon"></use>
            </svg>
          </a>
          </li>
          <li class="footer__contacts-item" tabindex="0">
            <a href="https://web.telegram.org/k/" target="_blank" title="Telegram">
            <svg class="footer__contacts-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-telegramIcon"></use>
            </svg>
            </a>
          </li>
          <li class="footer__contacts-item" tabindex="0">
                <a href="https://facebook.com" target="_blank" title="Facebook">
                  <svg class="footer__contacts-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-facebookIcon">
              </use>
            </svg>
          </a>
          </li>
    </ul>
    <div class="footer__contacts-phone">
    <span>Feel free to contact </span><a class="footer__contact-item" href="tel:00610383766284">+61 (0) 383 766 284</a>
  </div>
</footer>
