<section class="gallery" id="gallery">
    <div class="gallery__image">
       <picture>
         <source
           media="screen and (max-width: 768px)"
           srcset="./images/mobileGalleryNoBG.png, ./images/mobileGalleryNoBG@2x.png 2x"
         />
         <source
           media="screen and (max-width: 1280px)"
           srcset="./images/tabletGalleryNoBG.png, ./images/tabletGalleryNoBG@2x.png 2x"
         />
         <source srcset="./images/desktopGalleryNoBG.png, ./images/desktopGalleryNoBG@2x.png 2x" />
         <img src="./images/mobileGalleryNoBG.png" alt="ice-cream gallery" />
        </picture>
    </div>
</section>