<header class="header">
  <div class="header__menu">
    <img class="header__logo"
    src="./images/logo1.png" />
    <nav class="header__nav">
      <a> Home</a>
      <a>About us</a>
      <a>How it's made?</a>
      <a>Our products</a>
      <a>Contact</a>
    </nav>
    <svg class="header__hamburger icon">
      <use></use>
    </svg>
    <button class="header__button-buy">
      <h2 class="header__button-text">Buy now ></h2>
      <svg class="header__button-icon"><use></use></svg>
    </button>
  </div>
  <h1 class="header__tittle">
    ICE CREAM<br />
    MADE WITH <br />PASSION
  </h1>
  <div class="header__buttons">
    <a> <button class="header__products">Products</button></a>
    <a> <button class="header__howitsmade">How it's made?</button></a>
  </div>
  <div>
    <img />
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <svg class="header__arrow-icon"><use></use></svg>
    </div>

  </div>
  <div>
    <img class="header__icecream-png"/>
  </div>
  <div class="header__counting">
    <div>
        <h2 class="header__cafes"> 16</h2>
        <p>cafes</p>
    </div>
     <div>
        <h2 class="header__foodtrucks"> 23</h2>
        <p>food trucks</p>
    </div>
    
  </div>
  <div>

    <img class="header__so tasty-png"/>
  </div>
</header>
