<header class="header" id="header">
  <section class="header__container">
    <div class="header__menu">
      <img
        src="./images/headerLogo.png"
        alt="logo strony"
        width="199"
        height="50"
        class="header__logo"
      />
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a href="#header" class="header__nav-link">Home</a></li>
          <li class="header__nav-item">
            <a href="#advantage" class="header__nav-link">About us</a>
          </li>
          <li class="header__nav-item">
            <a href="#tradition_and_love" class="header__nav-link">How it's made?</a>
          </li>
          <li><a href="#products" class="header__nav-link">Our products</a></li>
          <li class="header__nav-item"><a href="#the-end" class="header__nav-link">Contact</a></li>
        </ul>
      </nav>
      <button
        class="menu__button--open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header__burger-icon icon" width="20" height="12">
          <use href="/src/images/icons.svg#icon-headerBurger"></use>
        </svg>
      </button>
      <button type="button" class="header__btn-buynow">
        <p class="header__btn-tittle">Buy now</p>
        <svg class="header_arrow-icon icon" width="4" height="8">
          <use href="./images/icons.svg#icon-headerBtnArrow"></use>
        </svg>
      </button>
    </div>
    <div class="header__head-box">
      <h1 class="header__head">
        ICE CREAM <br />
        MADE WITH <br />
        <span class="header__head-colorpart">PASSION</span>
      </h1>
      <div class="header__head-bttns">
        <button class="header__bttn header__bttn--products">
          <a href="#products" class="header__head-link--1">Products</a>
        </button>
        <button class="header__bttn header__bttn--how">
          <a href="#tradition_and_love" class="header__head-link--2"> How it's made?</a>
        </button>
      </div>
    </div>
    <div class="header__milk">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./images/desktopHeaderPic1.png, ./images/desktopHeaderPic1@2x.png"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/tabletHeaderPic1.png 1x, ./images/tabletHeaderPic1@2x.png 2x"
        />
        <img src="./images/tabletHeaderPic1.png" alt="milk" />
      </picture>
      <div class="header__milk-box">
        <p class="header__milk-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <img src="./images/tabletHeaderRightArrow.png" alt="arrow_icon" />
      </div>
    </div>
    <div class="header__count">
      <div class="header__cafes">
        <h2 class="header__cafes-number">16</h2>
        <p class="header__cafes-text">cafes</p>
      </div>
      <div class="header__trucks">
        <h2 class="header__trucks-number">23</h2>
        <p class="header__trucks-text">food trucks</p>
      </div>
    </div>
  </section>
</header>
