<section class="menu js-menu-container is-open" id="mobile-menu">
  <button class="menu__button--close js-close-menu">
    <svg height="14" width="14">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="menu__btn-buynow">
    <h2 class="menu__btn-tittle">Buy now</h2>
    <!--<svg class="header_arrow-icon icon" width="4" height="8">
      <use href="./images/icons.svg#icon-headerBtnArrow"></use>
    </svg>-->
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
      <path
        id="Vector 1"
        d="M1 1L5 5L1 9"
        stroke="#D41443"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <nav class="menu__nav">
    <ul class="menu__nav-list">
      <li class="menu__nav-item menu__nav-item--border">
        <a href="#header" class="menu__nav-link js-close-menu">Home</a>
      </li>
      <li class="menu__nav-item">
        <a href="#advantage" class="menu__nav-link js-close-menu">About us</a>
      </li>
      <li class="menu__nav-item menu__nav-item--border">
        <a href="#tradition_and_love" class="menu__nav-link js-close-menu">How it's made?</a>
      </li>
      <li class="menu__nav-item">
        <a href="#products" class="menu__nav-link js-close-menu">Our products</a>
      </li>
      <li class="menu__nav-item menu__nav-item--border">
        <a href="#the-end" class="menu__nav-link js-close-menu">Contact</a>
      </li>
    </ul>
  </nav>
</section>
