<section class="product" id="products">
  <p class="product__title">100% natural</p>
  <h2 class="product__name">products</h2>
  <ul class="product__grid">
    <li class="product__grid-item product__grid-first">
      <h3 class="product__grid-title">ice cream</h3>
      <p class="product__grid-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="arrow-btn" type="button">
        <a href="#"><img src="/src/images/arrow-right.jpg" /></a>
      </button>
    </li>
    <li class="product__grid-item product__grid-second">
      <h3 class="product__grid-title">ice coffee</h3>
      <p class="product__grid-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="arrow-btn" type="button">
        <a href="#"><img src="/src/images/arrow-right.jpg" /></a>
      </button>
    </li>
    <li class="product__grid-item product__grid-third">
      <h3 class="product__grid-title">milkshakes</h3>
      <p class="product__grid-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="arrow-btn" type="button">
        <a href="#"><img src="/src/images/productsRightArrow.png" /></a>
      </button>
    </li>
  </ul>
</section>
