<section class="reviews-section main-container" id="reviews">
  <picture class="reviews-section__image">
    <source
      srcset="
        ./images/reviewsPic1_1x.png 1x,
        ./images/reviewsPic1_2x.png 2x,
        ./images/reviewsPic1_3x.png 3x
      "
    />
    <img
      srcset="./images/reviewsPic1_3x.png"
      src="./images/reviewsPic1_3x.png"
      alt="Female reviewer"
    />
  </picture>
  <div class="reviews-section__slider">
    <p class="reviews-section__review">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>
  <div>
    <p class="reviews-section__description">Emily, Los Angeles</p>
    <div class="reviews-section__buttons">
      <button class="reviews-section__homeBtn" type="button">
        <svg width="12.4px" height="11.84px">
          <use href="./images/icons.svg#icon-reviewsHomeIcon"></use>
        </svg>
      </button>
      <button class="reviews-section__circleBtn" type="button">
        <svg width="12" height="12">
          <circle cx="6" cy="6" r="6" fill="#D9D9D9" />
        </svg>
      </button>
      <button class="reviews-section__circleBtn" type="button">
        <svg width="12" height="12">
          <circle cx="6" cy="6" r="6" fill="#D9D9D9" />
        </svg>
      </button>
    </div>
  </div>
</section>
