.advantages {
  width: 100%;
  background: $footerBackground;
  padding: 39px 20px 0 20px;
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 38px;
    justify-content: space-between;
  }
  &__image {
    margin-bottom: 16px;
  }
  &__value {
    font-family: $dekorationFont;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
    color: $headerFontColor;
  }
  &_txt {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
@include tablet {
  .advantages {
    padding: 39px 36px 0 36px;
  }
  .advantages__list {
    flex-direction: row;
  }
  .advantages__image {
    margin-bottom: 36px;
  }
  .advantages__value {
    margin-bottom: 13px;
  }
}
@include desktop {
  .advantages {
    padding: 39px 115px 0 115px;
  }
  .advantages__image {
    margin-bottom: 40px;
  }
  .advantages__value {
    margin-bottom: 15px;
  }
}
